/* Mobile */
@media (max-width: 739px) {
    .header .header__search {
        display: none;
    }
    .header .mobi-menu-responsive {
        display: block;
    }
    .header {
        overflow: hidden;
    }
    .nav > li {
        display: block;
    }
    .nav .subnav {
        position: initial;
        background-color: #333;
    }
    .nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }
    .nav > li:first-child {
        display: inline-block;
    }
    .member-list-resp {
        display: block;
        margin-top: 0;
    }
    .member-item-resp {
        padding-top: 35px;
        width: 100%;
    }
    .member-item .member-img {
        width: 60%;
    }
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    .place-img {
        height: 60%;
    }
    .row-block {
        display: block;
    }
    .contact-form {
        margin-top: 16px;
    }
}

/* Table */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .social-list {
        font-size: 48px;
    }
}