/* Mobile */
@media (max-width: 740px) {
    .nav > li {
        display: block;
    }
    .header .header__search {
        display: none;
    }
    .nav {
        display: block;
    }
    .header .mobi-menu-responsive {
        display: block;
    }
    .header {
        overflow: hidden;
    }
    .nav > li:first-child {
        display: inline-block;
    }
}