/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial , sans-serif;
}

/* Common css */
.text-white {
    color: #fff !important;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    padding: 0 8px;
}
.col-third {
    width: 33.33%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
/* end */

/* Main */
.wrapper {
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46px;
    background-color: #000;
}

.nav {
    display: inline-block;
}
.nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav, .subnav {
    list-style: none;
}
.nav .subnav li:hover, .nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
.nav .subnav a {
    line-height: 38px;
    padding: 0 16px;
    color: #000;
}

.nav li:hover .subnav {
    display: block;
}
.nav > li {
    display: inline-block;
}
.nav > li > a {
    text-transform: uppercase;
    color: #fff;
}
.nav li{
    position: relative;
}
.nav li a {
    display: block;
    cursor: pointer;
    padding: 0 24px;
    line-height: 46px;
    text-decoration: none;
}
.nav-arrow-icon {
    font-size: 14px;
}

.mobi-menu-responsive {
    position: absolute;
    top: 0;
    right: 0;
}
.header .header__search {
    display: block;
    float: right;
    padding: 0 21px;
    line-height: 46px;
}
.header .mobi-menu-responsive {
    display: none;
    float: right;
    padding: 0 21px;
    line-height: 46px;
}
.header .header__search:hover {
    cursor: pointer;
    background-color: #f44336;
}
.header .mobi-menu-responsive:hover {
    background-color: #ccc;
}
.header .menu-icon:hover {
    color: #000;
}
.header .menu-icon,
.header__search-icon {
    color: #fff;
    font-size: 20px; 
}

.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/asset/img/slider2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.text-heading {
    font-weight: 500;
}
.text-description {
    padding-top: 15px;
}


.content {
    
}
.content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px 112px;
}
.section-heading {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}
.section-subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
.about {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}
.member-list {
    margin-top: 38px;
    padding: 32px 0;
}
.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    
}
.member-item .member-name {
    margin-bottom: 15px;
}
.member-item .member-img {
    border-radius: 5px;
    width: 150px;
    object-fit: contain;
}
.content-section--black {
    background-color: #000;
}
.tickets-list {
    list-style: none;
    margin-top: 40px;
    background-color: #fff;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.sold-out {
    background-color: #f44336;
    padding: 3px 4px;
    color: #fff;
    margin-left: 16px;
}
.quantity {
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
}
.place-list {
    margin-top: 16px;
}
.place-img {
    display: block;
    width: 100%;
}
.place-img:hover { opacity: 0.6;}
.place-content {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    color: #757575;
    margin-top: 15px;
}
.place-desc {
    margin-top: 15px;
}
.place-buy-btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    margin-top: 15px;
    text-decoration: none;
}
.place-buy-btn:hover {color: #000; background-color: #ccc;}
/* Contact Form */
.contact-content {
    margin-top: 48px;
}
.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}
.contact-infor i[class*="ti-"] { width: 30px; display: inline-block;}
.contact-form {
    font-size: 15px;
}
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-btn {
    display: block;
    padding: 12px 20px;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border:none;
    color: #fff;
    background-color: #000;
}
.form-btn:hover { background-color: #ccc; cursor: pointer;color: #000;}

/* Map */
.map-section img {
    width: 100%;
}

.footer {
    padding: 64px 16px;
    text-align: center;
}
.footer .social-list {
    font-size: 24px;
}
.footer .social-list a {text-decoration: none; color: rgba(0, 0, 0, 0.6);}
.footer .social-list a:hover ,.footer .copyright a:hover { color: rgba(0, 0, 0, 0.4);}
.footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}


